@import '../../styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  padding: 15px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    cursor: pointer;
    text-transform: lowercase;

    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $color-major;
  }
}
